{% extends 'base.html.twig' %}

{% block title %}Nieuwe klant toevoegen{% endblock %}

{% block body %}
    <h1>Creëer een nieuwe klant</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('customer_index') }}">terug</a>
{% endblock %}
