{% extends 'base.html.twig' %}

{% block title %}Nieuw Maintenance{% endblock %}

{% block body %}
    <h1>Creeër nieuwe maintenance</h1>

    {{ include('maintenance/_form.html.twig') }}

    <a href="{{ path('maintenance_index') }}">Terug</a>
{% endblock %}
